* {
    box-sizing: border-box;
    margin: 1px;
    padding: 2px;
}

body {
    background-color: #dfdfdf;
    flex: auto;
    padding-bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #1d232b;
}

button {
    min-width: fit-content;
    align-self: center;
    font-size: 30px;
    background-color: #b4f0cd;
    border: none;
}

 button:hover {
    background-color:#21d84e;
 }

.header {
   text-align: center;
   width: 98%;
   background-image: linear-gradient(180deg,#010361,#dfdfdf);
   border-radius: 10px;
}

.header div ul li {
    display: inline-block;
}

h1 {
    font-size: 65px;
    color:#e6f840;
}
h2 {
    font-size: 40px;
    color:#1d232b;
}
.About{
    text-align: center;
    height: 380px;
    width: 98%;
    background-color:#b4f0cd;
    border-radius: 10px;
}

.Applications-header {
    font-size:40px;
    text-align: center;
    margin-top: 4px;
    height: 80px;
    width: 98%;
    border-radius: 10px;
    background-color: #e6f840;
}

h3, a {
   text-align: center;
   font-size:22px;
   text-decoration: none;
   color: #0f1216;
}

p{
    font-size:16px;
    padding-bottom: 13%;
}

.Applications1 {
    columns: 3;
    text-align: center;
    margin-bottom: 4px;
    width: 98%;
    background-color: #e6f840;
    border-radius: 10px;
}

.Applications-img {
    width: 95%;
}

.Contact {
    text-align: center;
    height: 130px;
    width: 98%;
    background-color: #bdc1c5;
    padding-bottom: 3%; 
    border-radius: 10px;
}

