* {
    box-sizing: border-box;
    margin: 1px;
    padding: 2px;
    
}

body {
    background-color: #dfdfdf;
    display:inline-block;
    align-content: center;
    padding-bottom: 1%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #dfdfdf;
}

button {
    min-width: fit-content;
    align-self: center;
    font-size: 30px;
    color: #dfdfdf;
    background-color: #010361;
    border: none;
}

 button:hover {
    background-color:#008020;
 }

.header {
   text-align: center;
   height: 180px;
   width: 98%;
   background-color:#000129;
   border-radius: 10px;
}

.header div ul li {
    display: inline-block;
}

h1 {
    font-size: 65px;
    color:#e6f840
}

h3, a {
   text-align: center;
   text-decoration: none;
   color: #dfdfdf;
}

.card {
    height: 460px;
    width: 100%;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    color: #dfdfdf;
}

.About{
    text-align: center;
    padding-bottom: 2%;
    height: 400px;
    width: 98%;
    background-color:#0d5551;
    border-radius: 10px;
}

.Applications {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    height: 1463px;
    width: 98%;
    background-color: #0d5551;
    border-radius: 10px;
}

.Applications img {
    max-height: 290px;
    padding-left: 11%;
    padding-right: 11%;
    width: 75%;
}

.Contact {
    text-align: center;
    height: 150px;
    width: 98%;
    background-color: #333333;
    padding-bottom: 3%; 
    border-radius: 10px;
}

